<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="lib/vue.global.js"></script>
		<link rel="stylesheet" href="style.css" />
		<title>键盘、鼠标修饰符</title>
	</head>
	<body>
		<div id="app">
			<div>
				<ul>
					<li v-for="content in comments">{{ content }}</li>
				</ul>
				<!-- 当按下 Ctrl 时，即使同时按下 Alt 或 Shift 也会触发 -->
				<input type="text" v-model="comment" @keyup.ctrl="addComment" />

				<!-- 仅当按下 Ctrl 且未按任何其他键时才会触发 -->
				<!-- <inputz type="text" v-model="comment" @keyup.ctrl.exact="addComment" /> -->

				<!-- 仅当没有按下任何系统按键时触发 -->
				<!-- <button @click.exact="addCommentClick">点击添加</button> -->
			</div>
		</div>
		<script src="index.js"></script>
	</body>
</html>
